@font-face {
    font-family: 'Neon';
    font-style: normal;
    src: url('../../assets/fonts/Neon.ttf');
}

.reactPageScrollerComponent {
    display: flex;
    flex: 1;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2ch;
}
.first-component{
    background-color: transparent;
}

h2{
    font-family: "Neon";
    color: white;
}